@charset "utf-8";

/*
   New Perspectives on HTML5 and CSS3, 8th Edition
   Tutorial 9
   Review Assignment
   
   Tulsa's Summer Party Base Style Sheet
   
   Filename: tny_base.css

*/


/* Basic styles to be used with all devices and under all conditions */

article, aside, figcaption, figure,
footer, header, main, nav, section { 
   display: block;
}

address, article, aside, blockquote, body, cite, 
div, dl, dt, dd, em, figcaption, figure, footer, 
h1, h2, h3, h4, h5, h6, header, html, img, 
li, main, nav, nav a, ol, p, section, span, ul,
table, tr, td, th, col, colgroup {
   margin: 0;
   padding: 0;
   border: 0;
   font-size: 100%;
   background: transparent;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;  
}


/* Set the default page element styles */

body {
   line-height: 1.2em;
}

ul, ol {
   list-style: none;
}

nav ul {
   list-style: none;
   list-style-image: none;
}

nav a {
   text-decoration: none;
}



/* Footer styles for disclaimer */
.disclaimer-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 0.5rem 0;
    font-size: 0.8em;
    line-height: 1.3;
    z-index: 1000;
    box-sizing: border-box;
}

    .disclaimer-footer p {
        margin: 0.2rem 0;
    }

/* Hide footer when in iframe */
.in-iframe .disclaimer-footer {
    display: none;
}

/* Adjust body padding when footer is visible */
body:not(.in-iframe) {
    padding-bottom: 80px;
}